
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
}
body {
  font-family: Montserrat, Arial, serif;
}
.mainColor {
  color: #585757;
}
.lightGrey {
  color: #bebeca;
}
.pageNumbers {
  display: flex;
  
}
.pagination { 
 display: flex;
 justify-content: center;
}
.pagination li {
  margin-right: 10px;
  font-size: 20px;
}
.row-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.margin-items {
  margin-right: 4px;
}
.cards-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.item-card {
  width: 33.3%;
}
.image-card {
  width: 100%;
}
@media (max-width: 500px) {
  .item-card {
    width: 100%;
  }
}
@media (min-width: 800px)and (max-width: 1000px) {
  .item-card {
    width: 50%;
  }
}